$borderLightBlack: #0002;
$borderBlack: #000;

.try {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
  position: relative;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $borderLightBlack;
    min-height: 4rem;
    min-width: 4rem;
    font-size: 2.5em;
  }

  &.currently::after {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: -1.5rem;
    border: 10px solid transparent;
    border-left: 10px solid green;
  }
  .pop {
    animation-name: popAnimate;
    animation-duration: 200ms;
    border-color: $borderBlack;
  }

  .tumble {
    transition: all 600ms;
    transform: rotateX(180deg);
    border-color: transparent;
    b {
      transform: rotateX(180deg);
      color: white !important;
      transition: all 600ms;
    }
  }

  .correct {
    background: #6baa65;
  }
  .exists {
    background: #c9b457;
  }

  .wrong {
    background: #787c7f;
  }
}

.shake {
  animation-name: shake;
  animation-duration: 200ms;
}

.loading {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2rem;
    z-index: 20;
    background: linear-gradient(
      90deg,
      transparent 0 30%,
      #fff5 70%,
      transparent 100%
    );
    animation-name: load;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  .try {
    & > * {
      position: relative;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.206);
      }
    }
  }
}

@keyframes popAnimate {
  100% {
    scale: 1.1;
  }
  0% {
    scale: 1;
  }
}

@keyframes shake {
  100% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  0% {
    transform: translateX(10px);
  }
}

@keyframes load {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(760%);
  }
  100% {
    transform: translateX(-1%);
  }
}

body:not(.dark-mode) {
  .loading {
    & > * > * {
      background: #0002;
    }
    &:before {
      background: linear-gradient(
        90deg,
        transparent 0 30%,
        rgba(80, 80, 80, 0.133) 70%,
        transparent 100%
      );
    }
  }
}
