.game-controls {
  position: absolute;
  top: 8rem;
  right: -22%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  button {
    display: flex;
    padding: 1rem;
    border: none;
    font-size: 2em;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    background: rgb(255, 255, 255);

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: 0 10px 10px 1px rgb(204, 203, 203),
        inset 0 -2px 5px 1px rgb(204, 203, 203);
    }
  }
}
